textarea {
    min-height: 400px;
}

.unread:hover {
    background-color: rgb(160, 160, 160) !important;
}

.unread {
    background-color: rgb(255, 255, 255) !important;
}

.emaildiv {
    cursor:pointer;
}

iframe.hidden
{
    display:none
}

.emaildiv {
    background-color: rgb(211, 211, 211)
}

.emaildiv:hover {
    background-color: rgb(160, 160, 160) !important;
}